/* Use the imported Google Fonts */
body {
    font-family: 'Outfit', sans-serif;
}

.font-outfit {
    font-family: 'Outfit', sans-serif;
}

/* Removed glowing-text for a cleaner look */

/* Custom styles for the alarm toggle switch */
.toggle-checkbox:checked {
    right: 0;
    border-color: #10b981; /* emerald-500 */
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #10b981; /* emerald-500 */
}
